h2{
    font-weight: bold;
    justify-content:center;
    color: rgb(0, 255, 0);
    font-family: Arial, Helvetica, sans-serif;
    /* 4 */
}
body{
    background-color: rgb(45, 111, 168);
    text-align: center;
    /* 2 */
}
.qs{
    display:flex; 
    justify-content:center; 
    /* 8 */

}
#congrats{
    color: green;
    /* 9 */
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    /* 10 */
}
h1:hover{
    color: red;
    /* 11 */
}
h2:hover{
    color: red;
    /* 12 */
}
button:hover{
    padding: 50px;
    /* 13 */
}
input:hover{
    font-size: medium;
    /* 14 */
}
img{
    width: 200px;
    height: 200px;
    /* 16 */
}
#totalTime{
    
}
