#space{
    border: black solid 1px;
    padding: 5px;
    display: flex;
    justify-content:center
    
}
body{
    background-color: rgb(45, 111, 168);
    text-align: center;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
}
#guessBtn{
    border-radius: 5px;
    border-color: blueviolet;
    background-color: aquamarine;
    border: 5px ridge;

}
#guessBtn:hover{
    background-color: greenyellow;
}
h1:hover{
    color: red;
}
h2:hover{
    color:red;

}
h2{
    font-family: Arial, Helvetica, sans-serif;
}
#playerGuess{
    width: 100vw;
}
#resetBtn{
    padding: 5px;
    margin: 5px;
    border-color: rgb(226, 43, 52);
    background-color: rgb(151, 10, 57);
    border: 5px solid;
}
#resetBtn:hover{
    background-color: blueviolet;
}
#attemptLeft{
    font-size: 30px;
}
#feedback{
    font-size: 30px;
}
#guesses{
    font-size: 30px;
}
#prevGuess{
    font-size: 30px;
}
#wins{
    font-size: 30px;
    padding: 5px;
}
#loses{
    font-size: 30px;
    padding: 5px;
}
